* {
  font-family: 'Lato', sans-serif;
}

.signature {
  display: block;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-column {
  list-style-position: inside;
}

.grad {
  background: -webkit-radial-gradient(white, rgb(235, 235, 235));
  /* Safari 5.1- 6.0 */
  background: -o-radial-gradient(white, rgb(235, 235, 235));
  /* Opera 11.6-12.0 */
  background: -moz-radial-gradient(white, rgb(235, 235, 235));
  /* Firefox 3.6-15 */
  background: radial-gradient(white, rgb(235, 235, 235));
  /* Standard syntax */
}

.gradProjects {
  background: -webkit-linear-gradient(to right, rgb(220, 220, 220), white, white, white, rgb(220, 220, 220));
  /* Safari 5.1- 6.0 */
  background: -o-linear-gradient(to right, rgb(220, 220, 220), white, white, white, rgb(220, 220, 220));
  /* Opera 11.6-12.0 */
  background: -moz-linear-gradient(to right, rgb(220, 220, 220), white, white, white, rgb(220, 220, 220));
  /* Firefox 3.6-15 */
  background: linear-gradient(to right, rgb(220, 220, 220), white, white, white, rgb(220, 220, 220));
  /* Standard syntax */
}

.removeUnderline a {
  text-decoration: none;
}

.bgwhite {
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.bioFont {
  font-size: 18px;
}
